.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.stardb-app .row {
  margin-bottom: 1rem;
}
.toggle-planet {
  margin-left: 1rem;
}

.stardb-app h2 { 
  margin-left: 1rem;
  margin-top: 1rem;
}